.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*-------------------------------SERCH-BOX---------------------------*/
label{
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin-left: 15px;
  padding: 6px;
  font-size: 20px;
}

button{
  border: 0;
  padding: 10px 25px;
  margin: 47px 0px 10px 0px;
}